.Button {
  border: 1px gray solid;
  border-radius: 10px;
  color: rgb(4, 15, 92);
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 10px;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1em;
}

.Success {
  color: #96df30;
}

.Success:hover {
  background-color: teal;
  color: greenyellow;
}

.Danger {
  color: #ff1905;
}

.Button:disabled {
  background-color: #cacacaac;
  color: #1d1e31;
  cursor: not-allowed;
}
