.SideDrawer {
  height: 100%;
  width: 60%;
  max-width: 300px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1d1e31;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 200;
  transform: translateX(-100%);
  /* ako nije otvoren side drawer default */
  transition: transform 0.3s ease-out; /* animacija za transform kad se otvara */
  padding: 0px;
}

.Open {
  transform: translateX(0%); /* da bude vidljiv */
}

@media (min-width: 769px) {
  .SideDrawer {
    display: none;
  }
}

.NavigationItems {
  margin-top: 20px;
  height: 100%;
  display: grid;
}

.NavigationItems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Drawer {
  margin: 2px;
  width: 98%;
  height: 30px;
}

.SideDrawer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

/*
.NavigationItems {
  width: 98%;
  position: relative;
  height: 300px;
  background-color: chartreuse;
  margin: 0;
  display: grid;
  padding: 10px 0;
  text-align: center;
  padding: 0px;
}

.Drawer {
  background-color: coral;
  margin: 2px;
  height: 48px;
  width: 98%;
  position: absolute;
  left: 0;
}
*/

/*
.SideDrawer {
  height: 100%;
  width: 60%;
  max-width: 300px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1d1e31;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 200;
  transform: translateX(-100%);
  /* ako nije otvoren side drawer default  
  transition: transform 0.3s ease-out;  
}

.Open {
  transform: translateX(0%); /* da bude vidljiv  
}

.SideDrawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; /* da bi ovo radilo height podesiti na 100%  
}

.SideDrawer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.SideDrawer a:hover,
.SideDrawer a:active {
  color: red;
  text-decoration: none;
}

@media (min-width: 769px) {
  /* side drawer invisible in desktop mode 
  .SideDrawer {
    display: none;
  }
}


*/
